body{
    background-color: #EEE6E1;
    font-family:fantasy;
}

/* Nav bar on the top */
nav {
    padding: .5em;
    top: 0; 
    position: sticky; 
    background-color: #EEE6E1;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #8C705F;
    text-decoration: none;
    padding: .5em 1em;
    font-weight: 500;
  }

  nav a:hover{
    color:#280003;
}

/* Overlaying images*/
.image{
  width: 100%; 
  height: 100%; 
  background-position: center;
  background-size: cover;
  width: 100%; 
  height: 100vh; 
  justify-content: center;
  align-items: center;
  color: white; 
  letter-spacing: 2px;
  background-image: linear-gradient(to top, transparent, rgba(136, 183, 183, 0.5), rgb(137, 213, 213, 0.5)), url(/img/background.png)
}

.photo{
  transition: 10s;
  position: absolute;
}

.hover_img {
  top: 0;
  left: 0;
  display: none;
  transition: 10s;
  }

.photo:hover .hover_img {
  display: inline;
  transition: 10s;
  }

/* Info about me */

  #name{
      /* text-align: left;
      padding-left: 5%; */
      /* top: 0; */
      font-size: 30px;
      background-color: #EEE6E1;
      color: #280003;
  }

  #pronouns{
      text-align: left;
      padding-left: 5%;
      top: 0;
      font-size: 20px;
  }

  #aboutme{
      font-size:large; 
      padding-left: 3%;
  }

  .grid{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid; 
    grid-gap: 10px 10px;
    grid-template-columns: 3fr 1fr;
    background-color:  #EEE6E1;
    color: #280003;
  }

/* social media buttons on the bottom */
  .social_media{
    text-align: center;
    bottom: 0px;
    left: 100px;
    display: flex;
  }
  .button {
    margin: 4px;
    text-align: center;
    background-color: #280003;
    color: #EEE6E1;
    padding: 20px;
    border-radius: 12px;
    font-family:fantasy;
    }

/* #flex-child1
{
    order:1;
}


#flex-child2
{
    order:2;
}


#flex-child3
{
    order:3;
} */

  .button:hover {
    background-color: #8C705F;
    }

/* changes appearance for smaller screens like mobiles */
  @media only screen and (max-width: 500px)
  { /* before it reaches 500px then applies the following */
      body {
        background-color: black; 
        color: #EEE6E1;
        }

    #namebox{
        color: #EEE6E1; 
    }
    
    nav { 
        position: sticky; 
        background-color: black;
    }
    
    nav ul {
        display: flex; 
        flex-direction: row;
    }

    nav a:hover{
      color: white;
  }

    .button {
        background-color: #8C705F;
        }
    .button:hover {
        background-color: #280003;
    }

  }