body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(202, 246, 249);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: black;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(202, 246, 249);
    transition: ss;
}

nav a:hover{
    color: rgb(49, 165, 174);
}

img{
    width:30vw;
    height: 30vh;
    
    transition: 2s;
}

img:hover{
    opacity: 0.5;
    
}

#red-ball{
    background-color: crimson;
    width: 20px;
    height:20px;
    border-radius: 50%;
    top:0;
    left: 0; 
    position: absolute;
    animation: redball 5s linear infinite alternate;
}

@keyframes redball {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:100px; top:0px;}
    50%  {background-color:blue; left:100px; top:100px;}
    75%  {background-color:green; left:0px; top:100px;}
    100% {background-color:red; left:0px; top:0px;}
  }
