body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#information
{
    display:grid; 
    width: 100%; 
    grid-template-columns: 1fr 1fr 1fr;
}

.players
{
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player1:before{
    content: "";
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: radial-gradient(#ff4747 1.90em, #c00303 1.80em);
}

.player2:before{
    content: "";
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: radial-gradient(#fff04e 1.90em, #ffc400 1.80em);
}


#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background: radial-gradient(#ff4747 1.90em, #c00303 1.80em);
}

.yellow-piece {
    background: radial-gradient(#fff04e 1.90em, #ffc400 1.80em);
}