/* Game-themed styling */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
  }
  
  #player-names {
    background-color: #D6EAF8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    text-align: center;
    width: 700px;
    margin: 0 auto;
  }
  
  .heading1 {
    color: #2980B9;
    font-size: 30px;
    margin-bottom: 20px;
    animation: pulse 1s infinite;
  }
  
  .heading2 {
    color: #2980B9;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    color: #2980B9;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    border-radius: 5px;
    border: 1px solid #2980B9;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="text"]:focus {
    border-color: #1A5276;
  }
  
  button[type="submit"] {
    background-color: #3498DB;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #2980B9;
  }  

#information
{
    display:grid; 
    width: 100%; 
    grid-template-columns: 1fr 1fr 1fr;
}

.players
{
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player1:before{
    content: "";
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: radial-gradient(#ff4747 1.90em, #c00303 1.80em);
}

.player2:before{
    content: "";
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: radial-gradient(#fff04e 1.90em, #ffc400 1.80em);
}


#board {
    height: 540px;
    width: 630px;
    background-color:  #3498DB;
    border: 10px solid #2980B9;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background: radial-gradient(#ff4747 1.90em, #c00303 1.80em);
}

.yellow-piece {
    background: radial-gradient(#fff04e 1.90em, #ffc400 1.80em);
}

.player-name {
    color: white;
    
  }

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }